@{
    Layout = null;
}

<ul class="nav nav-tabs" role="tablist">
    <li class="active"> <a href="@Url.Action("Index", "Patient")"> Patients </a></li>
    <li class="active"> <a href="@Url.Action("Index", "Appointment")"> Appointments </a></li>
</ul>